/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/default_app
/animation_chat
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/database/migrations/2020_05_23_153703_test.php
